**PART 2**

In [458]:
import functions_a as fn

In [459]:
df = fn.create_dataframe()

In [460]:
df.to_csv(r'./data.csv', index = False)

In [461]:
df.head()

,bookTitle,bookSeries,bookAuthors,ratingValue,ratingCount,reviewCount,plot,numberOfPages,published,characters,setting,url
0,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,"6,407,571","172,537","Could you survive on your own in the wild, wit...",374.0,September 14th 2008,Katniss Everdeen ; Peeta Mellark ; Cato (Hunge...,"District 12, Panem ; Capitol, Panem ; Panem",https://www.goodreads.com/work/best_book/27927...
1,Harry Potter and the Order of the Phoenix,Harry Potter #5,J.K. Rowling ; Mary GrandPré (Illustrator),4.50,"2,524,101","42,713",There is a door at the end of a silent corrido...,870.0,September 2004,Sirius Black ; Draco Malfoy ; Ron Weasley ; Pe...,Hogwarts School of Witchcraft and Wizardry ; L...,https://www.goodreads.com/work/best_book/28092...
2,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,"4,526,345","91,784",The unforgettable novel of a childhood in a sl...,324.0,May 23rd 2006,Scout Finch ; Atticus Finch ; Jem Finch ; Arth...,"Maycomb, Alabama",https://www.goodreads.com/work/best_book/32757...
3,Pride and Prejudice,NaN,Jane Austen ; Anna Quindlen (Introduction),4.26,"3,016,917","67,784",Alternate cover edition of ISBN 9780679783268S...,279.0,October 10th 2000,Mr. Bennet ; Mrs. Bennet ; Jane Bennet ; Eliza...,"United Kingdom ; Derbyshire, England ; England...",https://www.goodreads.com/work/best_book/30609...
4,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,"4,988,910","104,902",About three things I was absolutely positive.F...,501.0,September 6th 2006,Edward Cullen ; Jacob Black ; Laurent ; Renee ...,"Forks, Washington ; Phoenix, Arizona ; Washing...",https://www.goodreads.com/work/best_book/32122...

In [468]:
import math
import nltk
import itertools
import functions_a as fn
import os
from collections import defaultdict
from collections import OrderedDict
from collections import Counter
from nltk.corpus import stopwords 
from nltk.stem import PorterStemmer
from nltk.tokenize import RegexpTokenizer

import pickle

In [463]:
#Useful functions to save and load files in pickle format
def save_dict(obj, name ):
    with open(f'{name}.pickle', 'wb') as f:
        pickle.dump(obj, f)

def load_obj(name ):
    with open(f'{name}.pickle', 'rb') as f:
        return pickle.load(f)

In [464]:
df['plot'].isnull().sum()

582

In [465]:
df['plot'].fillna('unknown',inplace = True)

In [466]:
df['plot'].isnull().sum()

0

In [470]:
dictionary = fn.build_dictionary(df)

In [21]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/eugeniobaldo/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [469]:
save_dict(dictionary,'vocabulary')   #to save

In [24]:
dictionary = load_obj('vocabulary')  #to load

In [25]:
frequency_of_words = fn.frequency_of_words_per_book(df,dictionary)

In [26]:
inverted_index_1 = fn.inverted_index1(df,dictionary,frequency_of_words)

In [27]:
save_dict(inverted_index_1,'inverted_index_1')    #to save

In [28]:
inverted_index_1 = load_obj('inverted_index_1')   #to load

In [29]:
query = input()

survival games

In [30]:
query = fn.query_processed(query)
query

['surviv', 'game']

In [471]:
output = fn.search_engine1(query,df,inverted_index_1,dictionary)

In [472]:
output.head(10)

,bookTitle,bookSeries,bookAuthors,ratingValue,ratingCount,reviewCount,plot,numberOfPages,published,characters,setting,url
0,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,"6,407,571","172,537","Could you survive on your own in the wild, wit...",374.0,September 14th 2008,Katniss Everdeen ; Peeta Mellark ; Cato (Hunge...,"District 12, Panem ; Capitol, Panem ; Panem",https://www.goodreads.com/work/best_book/27927...
1,Catching Fire,The Hunger Games #2,Suzanne Collins,4.29,"2,529,881","97,134",SPARKS ARE IGNITING.FLAMES ARE SPREADING.AND T...,391.0,September 1st 2009,Katniss Everdeen ; Peeta Mellark ; Primrose Ev...,"District 12, Panem ; Capitol, Panem ; Panem",https://www.goodreads.com/work/best_book/61714...
2,Mockingjay,The Hunger Games #3,Suzanne Collins ; Elizabeth B. Parisi (Book De...,4.04,"2,354,983","103,884",The final book in the ground-breaking HUNGER G...,390.0,August 24th 2010,Katniss Everdeen ; Peeta Mellark ; Primrose Ev...,"District 13, Panem ; District 12, Panem ; Capi...",https://www.goodreads.com/work/best_book/88127...
3,Legend,Legend #1,Marie Lu (Goodreads Author),4.17,"414,084","28,747",What was once the western United States is now...,305.0,November 29th 2011,June Iparis ; Daniel Altan Wing ; Metias Ipari...,"Los Angeles, The Republic of America",https://www.goodreads.com/work/best_book/14157...
4,"A Child Called ""It""",Dave Pelzer #1,Dave Pelzer (Goodreads Author),4.11,"380,530","15,918",Also see: Alternate Cover Editions for this IS...,184.0,September 1st 1995,NaN,NaN,https://www.goodreads.com/work/best_book/59104...
5,The Magus,NaN,John Fowles,4.05,"47,701","2,888","This daring literary thriller, rich with eroti...",656.0,January 4th 2001,Nicholas Urfe ; Alison Kelly ; Maurice Conchis...,"Greece ; London, England",https://www.goodreads.com/work/best_book/18164...
6,Ender's Shadow,The Shadow Series #1,Orson Scott Card,4.30,"154,717","5,242",Welcome to Battleschool.Growing up is never ea...,469.0,May 19th 2002,"Andrew Wiggin ; ""Bean"" ; Nikolai Delphiki ; Vo...",Rotterdam ; Battle School,https://www.goodreads.com/work/best_book/31455...
7,The Lucky One,NaN,Nicholas Sparks (Goodreads Author),4.12,"328,809","10,165",When U.S. Marine Logan Thibault finds a photog...,326.0,August 11th 2009,Logan Thibault ; Elizabeth Clayton ; Ben Clayt...,"Hampton, North Carolina",https://www.goodreads.com/work/best_book/30944...
8,Sliding on the Snow Stone,NaN,Andy Szpuk (Goodreads Author),4.07,358,54,It is astonishing that anyone lived this story...,238.0,September 21st 2011,NaN,Ukraine,https://www.goodreads.com/work/best_book/18004...
9,Code Name Verity,Code Name Verity #4,Elizabeth Wein (Goodreads Author),4.02,"97,872","14,482","Oct. 11th, 1943 - A British spy plane crashes ...",452.0,February 6th 2012,Hauptsturmfuhrer von Linden ; Fraulein Engel ;...,"England ; Ormaie, France",https://www.goodreads.com/work/best_book/16885...

In [473]:
tf_score = fn.tf(df,dictionary,frequency_of_words)

In [37]:
idf_score = fn.idf(df,dictionary,frequency_of_words)

In [38]:
tf_idf_scores = fn.tf_idf_score(df,dictionary,tf_score,idf_score)

In [474]:
cosine_similarity_score = fn.cosine_similarity(query,output,tf_idf_scores)
print((cosine_similarity_score))

[0.3248, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0855, 0.0, 0.0, 0.041, 0.0, 0.0492, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0598, 0.1022, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0336, 0.0679, 0.0, 0.0498, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0772, 0.0, 0.048, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.057, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0605, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0765, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

# part 3 #

**for this part the aim is to define a new score metrics different from other score metrics, such as cosine-similarity. This metric has to take into account other variables which are in the provided dataset as a result of the parsing. For this purpose has been defined a new metric called user_score: the user score is substantially a weighted average of 4 different scores: the cosine similarity, the rate_score,the lenght_score and the date_release score. The weight of these scores are choosen directly from users, who can give a vote from 0 to 5 which represents the importance of that feature in their search**

**rate_score**

the rate_score gives a measure which encompasses both the number of rates (e.g 549,545,666) and the rate value (e.g 4.5/5). the formula to compute it is the following: 

$\sum_{i=0}^{m} \frac{ratevalue_{doc_i}\log(1+ratenumber_{doc_i})}{maxratevalue_{docs}\log(1.00000001+maxratenumber_{docs})}$

where  
1. m=number of documents which contains the query
2. doc_i= specific document
3. docs= set of documents found by the query
4. ratevalue= integer value between [0,5]
5. ratenumber= number of rates for each document 
6. maxratevalue= max rate value among the documents found
7. maxratenumber= max rate number among the  documents found

this score is included betwenn [0,1] 
it is 1 when the document found by the search engine is both the document with more ratings and with the best vote (rate value). it is 0 when the documents has no ratings or has a vote that is 0.
      
it has been added a constant of 0.00000001 in the denominator in order to avoid a zero division error.    

rate score provides a measure both of the popularity of the book and of the users appreciation of the book.

**lenght_score**

$ lenghtscore= (\sum_{i=0}^{m1} 1-(k x_i)$ where k= 1/m1 and where m1 is (m-na number)) if $x_i\neq x_{i-1}$

$lenghtscore_{i}= lenghtscore_{i-1}$ if $x_{i}=x_{i-1}$

$lenghtscore_{i}$= 0 if $x_{i}=na$

the lenght score, given a number of pages in input by the user, aims to find what are the books closer to this specific user request. This score is a positional score: the score to a book is given taking into account the ranking of books ordered in ascending order by absolute value of number of pages difference. However this metric, even if the number of pages between books differs, will give a score of 1 if the book has the minimum difference among all. the score of 0 is assigned for books which don't provide the number of pages value in the dataset.
the score is diminished each time by a coefficient proportional to the ranking number and the inverse of the lenght of books considered.

**date_release_score**

DRS= ($\sum_{i=0}^{m1} 1-(k x_i)$ where k= 1/m1 and where m1 is (m-na number)) if $x_i\neq x_{i-1}$


$DRS_{i}$= $DRS_{i-1}$ if $x_{i}=x_{i-1}$


$DRS_{i}$= 0 if $x_{i}=na$ 

the date release score has the same mechanism of the lenght score but, instead of taking into account the book pages, deals with the year of pubblication of the book. As in lenght score the user will give in input a desired year for the book searched and the score will be maximixed for the books most closer in time to user request.

In [521]:
 from functions_a import cosine_similarity as cos

*in the following cells the user gives in input the desired number of pages and the desired year of pubblication*

In [522]:
desired_lenght=int(input("please insert the desired lenght for your new book giving the number of pages\n").strip())

please insert the desired lenght for your new book giving the number of pages
400

In [523]:
desired_year=int(input("please insert the desired year for your new book in the format xxxx\n").strip())

please insert the desired year for your new book in the format xxxx
2008

In [524]:
import new_modules as mod

In [525]:

cosine_similarity=cos(query,output,tf_idf_scores)

rate_score=mod.rating_score(output)

book_lenght_score=mod.lenght_score(output,desired_lenght)

publish_date_score=mod.publish_score(output,desired_year)

**in this section the user has to provide his preferences about the importance of the parameters for his research**

In [529]:
print("you are asked to tell us how much important\n is for you the number of pages of the book\n")

k_pages=mod.input_vote()

print("you are asked to tell us how much important\n is for you the year of pubblication of the book\n")

k_date=mod.input_vote()

print("you are asked to tell us how much is important\n is for you the similarity of your description with the plot of the book ")

k_cosine=mod.input_vote()

print("you are asked to tell us how much is important\n for you the popularity and the users vote for your searched book")

k_rate=mod.input_vote()

k_list=[k_pages,k_date,k_cosine,k_rate]

you are asked to tell us how much important
 is for you the number of pages of the book

insert a value between 0 and 5
3
you are asked to tell us how much important
 is for you the year of pubblication of the book

insert a value between 0 and 5
4
you are asked to tell us how much is important
 is for you the similarity of your description with the plot of the book
insert a value between 0 and 5
5
you are asked to tell us how much is important
 for you the popularity and the users vote for your searched book
insert a value between 0 and 5
2

In [530]:
mod.similarity_score(output,cosine_similarity,rate_score,book_lenght_score,publish_date_score,k_list)

,book_title,url,plot,cosine_similarity,rate_score,lenght_score,date_release_score,user_score
0,The Hunger Games,https://www.goodreads.com/work/best_book/27927...,"Could you survive on your own in the wild, wit...",0.3248,0.866000,0.826,1.000,0.754886
1,Catching Fire,https://www.goodreads.com/work/best_book/61714...,SPARKS ARE IGNITING.FLAMES ARE SPREADING.AND T...,0.0000,0.807126,0.939,0.943,0.700679
2,Mockingjay,https://www.goodreads.com/work/best_book/88127...,The final book in the ground-breaking HUNGER G...,0.0000,0.756398,0.930,0.852,0.669971
53,Aspho Fields,https://www.goodreads.com/work/best_book/49948...,"For the first time, fans of the blockbuster Ge...",0.0679,0.424988,1.000,1.000,0.635975
41,The Stolen Throne,https://www.goodreads.com/work/best_book/64096...,"The thrilling prequel to Dragon Age: Origins, ...",0.0000,0.420583,1.000,0.943,0.612024
97,Jacinto's Remnant,https://www.goodreads.com/work/best_book/64603...,"Based on the blockbuster Xbox game, this is th...",0.0000,0.405834,1.000,0.943,0.607810
68,To Hell and Back,https://www.goodreads.com/work/best_book/11301...,The pulse-pounding finale to Lilith Saintcrow'...,0.0000,0.411769,0.887,1.000,0.577291
27,The Elephant Whisperer,https://www.goodreads.com/work/best_book/65632...,When South African conservationist Lawrence An...,0.0000,0.559588,0.783,0.943,0.574239
116,The Manhattan Hunt Club,https://www.goodreads.com/work/best_book/27639...,In Manhattan Hunt Club John Saul plumbs the de...,0.0000,0.436197,0.887,0.852,0.563128
22,Lexicon,https://www.goodreads.com/work/best_book/20077...,At an exclusive school somewhere outside of Ar...,0.0000,0.520223,0.930,0.566,0.561635